@use '../../scss/assets/variablesSCSS.scss' as *;

.help-quantity {
   position: relative;
   z-index: 3;
   overflow: hidden;
   background-color: var(--color-smoky-White);

   @media (min-width:1024px) {
      margin-top: -120px;
      border-radius: 48px 48px 0 0;
   }

   &__container {}

   &__enumeration {
      padding-top: 32px;
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 80px;
      justify-content: center;

      @media (min-width:$max-width-container) {
         justify-content: space-between;
      }
   }

   &__enumeration-name {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 129%;
      color: var(--color-black-a06);
   }

   &__enumeration-data {
      font-weight: 500;
      font-size: 40px;
      text-align: center;
      line-height: 100%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 56px;
      }
   }

   &__buttons {
      display: flex;
      justify-content: center;
      gap: 4px;
   }
}