@use 'variablesSCSS' as *;

body {
   --padding-container: #{$padding-mobile};
   --container-width: #{$width-content};
   --max-width-container: #{$max-width-container};
   --max-width-container-big: #{$max-width-container-big};
   scrollbar-gutter: stable;
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-black);
   background-color: var(--color-smoky-White);

   @media (min-width:768px) {
      --padding-container: #{$padding-tablet};
   }

   @media (min-width:1024px) {
      --padding-container: #{$padding-desktop};
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

// .shadow {
//    box-shadow: -3px 0 16px 0 rgba(51, 51, 51, 0.3);
// }

[class*="container"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 100%;
   max-width: var(--max-width-container);
}

[class*="container-big"] {
   max-width: var(--max-width-container-big);
}

.dark-bg {
   padding-bottom: 2px;
   margin-bottom: -1px;
   background-color: var(--color-pale-blue);
}

.section-title {
   margin-bottom: 40px;
   font-size: 16px;
   line-height: 112%;
   color: var(--color-black-a06);
}

.section-title-large {
   margin-bottom: 48px;
   font-weight: 500;
   font-size: 32px;
   letter-spacing: -0.02em;
   color: var(--color-black);

   @media (min-width:768px) {
      font-size: 40px;
   }

   @media (min-width:1024px) {
      font-size: 64px;
   }
}

.section-padding {
   padding-top: 80px;

   @media (min-width:1024px) {
      padding-top: 112px;
   }
}

.button-color,
.button-color-white,
.button-border {
   padding: 8px 20px 7px 20px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 40px;
   border-radius: 100px;
   font-size: 12px;

   @media (min-width:1024px) {
      padding: 13px 24px 12px 24px;
      font-size: 16px;
   }
}

.button-color {
   color: var(--color-white);
   background-color: var(--color-green);
}

.button-color-white {
   color: var(--color-black);
   background-color: var(--color-white);
}

.button-border {
   border: 1px solid var(--color-black-a02);
}

.button-circle {
   --size: 52px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: var(--size);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   background-color: var(--color-white);

   @media (min-width:1024px) {
      --size: 64px;
   }

   svg,
   img {
      width: 16px;
   }
}

.bg-gradient {
   background: linear-gradient(170deg, var(--color-white) 0%, var(--color-sapphire-blue) 100%);
}

.folder-shape {
   --radius: 20px;
   position: relative;
   width: max-content;

   &::before {
      content: '';
      position: absolute;
      top: var(--radius);
      right: 0;
      width: calc(var(--radius) * 2);
      height: calc(var(--radius) * 2);
      background-color: var(--bg, #ffffff);
      border-radius: var(--radius);
   }


   &__item {
      padding: calc(var(--radius) * 1.75) 16px;
      display: block;
      position: relative;
      width: 196px;
      min-height: 154px;
      clip-path: polygon(45% 0%,
            calc(50% + calc(var(--radius))) var(--radius),
            calc(100% - var(--radius)) var(--radius),
            100% calc(var(--radius) * 2),
            100% 100%,
            0 100%,
            0 0);
      background-color: var(--bg, #ffffff);
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.04);
      border-radius: var(--radius);
      font-weight: 500;
      font-size: var(--fs, 24px);
      color: var(--color-font, var(--color-black));
      line-height: 108%;
      word-wrap: break-word;
   }

   &__arrow {
      position: absolute;
      bottom: 16px;
      right: 16px;

   }

   &__green {
      --bg: var(--color-green);
      --fs: 18px;
      --color-font: var(--color-white);
   }

   svg path {
      fill: var(--color-font, var(--color-black))
   }
}

.tabs-buttons {
   margin-left: auto;
   margin-right: auto;
   padding: 2px;
   display: flex;
   align-items: stretch;
   max-width: max-content;
   border-radius: 100px;
   background-color: var(--color-sapphire-blue);

}

.tabs-button {
   padding: 12px;
   font-weight: 500;
   font-size: 12px;
   line-height: 100%;
   text-align: center;
   color: var(--color-signal-black);
   border-radius: 100px;
   overflow: hidden;

   @media (min-width:768px) {
      padding: 16px 24px;
      font-size: 16px;
   }

   &.active {
      background-color: var(--color-white);
      box-shadow: 1px 1px 4px 0 rgba(88, 90, 95, 0.08);
   }
}

.amount-help {
   border-radius: 16px;
   padding: 16px;
   background-color: var(--color-white);

   &__header {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
   }

   &__text {
      font-size: 10px;
      line-height: 120%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: right;
      color: var(--color-black-a06);
   }

   &__number {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      text-align: right;
   }

   &__range {
      position: relative;
      background-color: var(--color-green-a02);
      height: 4px;
      border-radius: 4px;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: attr(data-quantity %);
         border-radius: 4px;
         background-color: var(--color-green);
      }

   }
}

[data-hint] {
   position: relative;

   &:hover::after {
      opacity: 1;
   }

   &::after {
      content: attr(data-hint);
      position: absolute;
      bottom: calc(100% + 8px);
      left: 0;
      padding: 12px;
      width: max-content;
      max-width: 200px;
      background-color: var(--color-white);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      opacity: 0;
      transition: opacity 0.3s;
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      color: #303030;
   }
}

.intut-text {
   position: relative;
   margin-bottom: 8px;
   display: block;

   textarea,
   input {
      display: block;
      padding: 8px 16px;
      display: block;
      border-radius: 8px;
      min-height: 46px;
      width: 100%;
      background: rgba(236, 239, 243, 0.5);
      font-size: 16px;
      line-height: 100%;
      color: var(--color-black-a06);
   }

   textarea {
      height: 80px;
   }
}

.input-checkbox {
   margin-top: 12px;
   margin-bottom: 24px;
   cursor: pointer;
   display: flex;
   align-items: flex-start;
   gap: 12px;

   input {
      display: none;

      &:checked+.input-checkbox__icon {
         background-color: var(--color-green);

         svg {
            display: block;
         }
      }
   }



   &__icon {
      height: 14px;
      width: 14px;
      min-width: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 1px solid var(--color-green);
      border-radius: 3px;

      svg {
         display: none;
      }
   }

   &__text {
      font-size: 14px;
      line-height: 100%;
      color: var(--black);
   }
}

// .hidden-max1024 {
//    @media (max-width:1023.98px) {
//       display: none !important;
//    }
// }

// .hidden-max768 {
//    @media (max-width:767.98px) {
//       display: none !important;
//    }
// }


// .scroll::-webkit-scrollbar {
//    width: 11px;
//    height: 11px;
//    border-radius: 6px;
// }

// .scroll::-webkit-scrollbar-track {
//    border-radius: 6px;
//    background-color: var(--color-lightgrey, lightgrey);
// }

// .scroll::-webkit-scrollbar-thumb {
//    background-color: var(--color-green, green);
//    background-clip: content-box;
//    border-radius: 6px;
// }


.swiper-header {
   margin-bottom: 40px;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   gap: 16px;

   .section-title {
      margin-bottom: 0;
   }
}

.swiper-wrapper {
   position: relative;
   z-index: 1;
   display: flex;
   transition-property: transform;
}

.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   position: relative;
   transition-property: transform;
   touch-action: pan-y;
}

.swiper-buttons {
   display: flex;
   align-items: center;
   gap: 8px;
}



// .js-tabs-shell {
//    will-change: height;
//    transform: translateZ(0);
//    height: 0;
//    overflow: hidden;
//    transition: height $tr-time-l $bezier;
// }

// .js-tabs-toggle {
//    cursor: pointer;
// }

// /* указатель количества, абсолютное позиционирование */
// [data-icon-quantity] {
//    position: relative;
//    display: block;

//    &::after {
//       content: attr(data-icon-quantity);
//       padding: 5px;
//       position: absolute;
//       top: 0;
//       right: 0;
//       transform: translate(25%, -25%);

//       min-width: 24px;
//       height: 24px;

//       display: flex;
//       align-items: center;
//       justify-content: center;

//       border-radius: 12px;
//       font-size: 12px;
//       color: var(--color-white, #ffffff);
//       background-color: var(--color-black, #000000);
//    }
// }

// /* указатель количества, в строку */
// [data-string-quantity] {
//    &::after {
//       content: " (" attr(data-string-quantity) ")";
//       color:var(--color-black, #000000);
//    }
// }